header {
  .flex(space-between, baseline);
  .width-100;
  background-color: @bg-color;
  border-radius: 10px;

  span {
    font-size: 30px;
    padding: 30px;
    font-family: @header-font;
  }

  nav {
    .flex(flex-end);

    a {
      text-decoration-style: none;
      text-decoration-line: none;
      text-decoration-color: none;
      padding: 30px;
      background-color: @bg-color;
      color: @text-color;

      &:hover {
        background-color: white;
        color: @bg-color;
      }
    }

    .log {
      //padding-left: 100px;
    }
  }

  margin-bottom: 20px;
}